@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.signupParentDiv form h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}
.signupParentDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  padding: 20px;
  margin: 80px auto 0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.signupParentDiv .input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
  width: 100%;
  margin-bottom: 16px;
}
.signupParentDiv form label {
  margin-bottom: 0;
}
.signupParentDiv form {
  width: 60%;
  margin: 20px;
}
.signupParentDiv button {
  width: 100%;
  background-color: #002f34;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  height: 40px;
  transition: background-color 0.18s ease-in-out, color 0.18s ease-in-out;
}
.signupParentDiv button:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}

.loginLink {
  text-decoration: none;
  color: #002f34;
  position: relative;
}
.loginLink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -2px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.loginLink:hover:after {
  width: 100%;
  left: 0;
}
.loginLink:hover {
  text-decoration: none;
  color: black;
}
.loginDiv {
  text-align: center;
  padding-top: 20px;
}
