@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
.signupMainDiv {
  height: calc(100vh - 70px);
  display: flex;
}
.signupParentDiv form h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}
.signupParentDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.signupParentDiv form {
  width: 60%;
  margin: 20px;
}
.signupParentDiv .input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 2px;
}
.signupParentDiv form .label {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-left: 4px;
}
.signupParentDiv form .buttons .button {
  width: 100%;
  background-color: #002f34;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  height: 40px;
  transition: background-color 0.18s ease-in-out, color 0.18s ease-in-out;
}
.signupParentDiv form .buttons .button:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}

.loginLink {
  text-decoration: none;
  color: #002f34;
  position: relative;
}
.loginLink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -2px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.loginLink:hover:after {
  width: 100%;
  left: 0;
}
.loginLink:hover {
  text-decoration: none;
  color: black;
}
.loginDiv {
  text-align: center;
  padding-top: 20px;
}
.signupParentDiv form .topLogo {
  display: none;
}
@media screen and (max-width: 800px) {
  .signupParentDiv {
    /* width: 600px; */
    width: 90%;
  }
  .signupParentDiv .sideLogo {
    width: 175px;
    height: 175px;
  }
}
@media screen and (max-width: 680px) {
  .signupParentDiv .sideLogo {
    display: none;
  }
  .signupParentDiv form .topLogo {
    display: block;
    margin: auto;
  }
  .signupParentDiv form {
    margin: 20px;
    width: 100%;
  }
  .signupParentDiv {
    width: 500px;
    padding-top: 0;
  }
  .signupHr {
    margin: 20px 0;
    height: 1px;
    background-color: #cdcdcd;
    width: 100%;
  }
  .signupParentDiv form h1 {
    text-align: center;
  }
  .signupParentDiv form .buttons .button {
    height: 36px;
    font-size: 15px;
  }
  .loginLink {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500px;
  }
}
@media screen and (max-width: 550px) {
  .signupParentDiv {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .signupParentDiv form h1 {
    font-size: 36px;
  }

  .signupParentDiv form .signupDiv .signupLink {
    font-size: 14px;
  }
}
@media screen and (max-width: 370px) {
  .signupParentDiv form {
    margin: 10px;
  }
}
