@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
.postParentDiv .moreView {
  margin: 16px 0 24px;
  padding: 16px 16px 32px;
  /* background-color: #90d4d485; */
  /* background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%); */
  /* background-image: url(./bgImgBlue.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#recHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading:first-child {
  font-size: 36px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.heading a span {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.moreView .heading {
  margin-left: 40px;
  margin-right: 40px;
}
.recommendations .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2em;
}

.moreView .cards {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 30px 40px 50px;
}

.recommendations {
  margin: 16px 0 24px;
  /* background-color: #90d4d485; */
  background-image: url(./bgImgBrown.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
}

.recommendations .heading span {
  font-size: 40px;
  color: white;

  font-family: "Comfortaa", cursive;
}
.postParentDiv {
  padding: auto;
}

.fresh-recomendation-cards {
  margin: 2em auto;
  display: flex;

  justify-content: space-around;
}
.fresh-recomendation-card {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  margin-bottom: 2em;
}
.quick-menu-cards {
  display: inline;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.quick-menu-cards .card {
  margin-right: 28px;
}
.moreView .heading a {
  display: flex;
  align-items: center;
}

.moreView .heading a span {
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  color: white;
  position: relative;
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s ease;
}
.moreView .heading a span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -2px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(219, 219, 219);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.moreView .heading a span:hover:after {
  width: 100%;
  left: 0;
}

.moreView .heading a:hover {
  text-decoration: none;
}
.hrBar {
  height: 1px;
  background-color: white;
  width: 150px;
  margin: 0 30px;
}
.fresh-recomendation-card:last-child .card {
  margin-right: 0;
}
.spinnerinf {
  width: fit-content;
  margin: 80px auto;
}
@media screen and (max-width: 1300px) {
  .fresh-recomendation-cards {
    display: grid;
    grid-template-columns: auto auto;
    margin: 2em 60px;
  }
  .fresh-recomendation-card:nth-child(even) .card {
    margin-right: 0;
  }
}
@media screen and (max-width: 870px) {
  .moreView .cards {
    margin: 30px 10px 50px;
  }
}
@media screen and (max-width: 660px) {
  .quick-menu-cards .card {
    width: 250px;
    max-width: 250px;
  }
  .recommendations .heading span,
  .moreView .heading .quickMenu {
    font-size: 36px;
  }
  .fresh-recomendation-cards {
    grid-template-columns: auto;
    margin: 2em 60px;
  }

  .hrBar {
    height: 1px;
    background-color: white;
    width: 80px;
    margin: 0 30px;
  }
  .fresh-recomendation-cards .fresh-recomendation-card .card {
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .recommendations .heading span,
  .moreView .heading .quickMenu {
    font-size: 28px;
  }

  .moreView .heading {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 450px) {
  .recommendations .heading span,
  .moreView .heading .quickMenu {
    font-size: 28px;
  }
  .moreView .heading a span {
    font-size: 12px;
  }

  .moreView .heading {
    margin-left: 10px;
    margin-right: 10px;
  }
  .hrBar {
    width: 50px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 370px) {
  .fresh-recomendation-cards .fresh-recomendation-card .card {
    width: 250px;
    max-width: 250px;
  }
  .recommendations .heading span,
  .moreView .heading .quickMenu {
    font-size: 24px;
  }
  .moreView .heading a span {
    font-size: 10px;
  }
}
@media screen and (max-width: 310px) {
  .fresh-recomendation-cards .fresh-recomendation-card .card,
  .quick-menu-cards .card {
    width: 230px;
    max-width: 230px;
  }
  .recommendations .heading span,
  .moreView .heading .quickMenu {
    font-size: 20px;
  }
  .moreView .heading a span {
    font-size: 8px;
  }
}
