.display-all-parent {
  padding-bottom: 1em;
  padding-top: 1em;
  margin: 0 1rem;
  background-color: #ebeeef;
  min-height: 90vh;
  height: max-content;
}

.container-allpost {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.all-post-card {
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  margin: 1em;
  white-space: nowrap;
}
