@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
.createMainDiv {
  display: flex;
  /* height: calc(100vh - 70px); */
}
.createParentDiv {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  /* width: 90%; */
  width: 900px;
  padding: 40px;
  margin: 80px auto 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.centerDiv {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 20px;
}
.centerDiv .input {
  border: none;
  border-bottom: 1px grey solid;
  outline: none;
  margin: 0px 0 16px;
  background-color: transparent;
  padding-bottom: 2px;
  font-weight: 300;
}
.centerDiv .label {
  font-family: "Montserrat", sans-serif;

  font-weight: 500;
}
/* .uploadBtn {
  margin-top: 30px;
  width: 100%;
  height: 48px; */
/* border-color: transparent; */
/* background-color: #002f34;
  color: whitesmoke;
  font-weight: 900;
}
.uploadBtn:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
} */
.centerDiv .uploadBtn {
  width: 100%;
  background-color: #004e92;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 28px;
  margin-top: 25px;
  font-size: 18px;
  height: 40px;
  transition: background-color 0.18s ease-in-out, color 0.18s ease-in-out;
}
.centerDiv .uploadBtn:hover {
  background-color: white;
  color: #004e92;
  border: 2px solid #004e92;
}
.centerDiv .categDrop {
  margin: 8px 0 16px;
}
.centerDiv .categDrop select {
  margin-left: 16px;
}
.centerDiv #textarea {
  border-left: 1px rgb(205, 205, 205) solid;
}
.centerDiv h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.centerDiv img {
  margin: 10px auto;
}
.fileInp {
  width: fit-content;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.fileInp::file-selector-button {
  border-radius: 13px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.18s ease-in-out;
}
.fileInp::file-selector-button:hover {
  background-color: rgb(228, 228, 228);
}

.cancelUploadLink {
  text-decoration: none;
  color: #002f34;
  position: relative;
}
.cancelUploadLink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -2px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.cancelUploadLink:hover:after {
  width: 100%;
  left: 0;
}
.cancelUploadLink:hover {
  text-decoration: none;
  color: black;
}
.cancelUploadDiv {
  text-align: center;
  padding-top: 20px;
}
.createParentDiv .centerDiv .topLogo {
  display: none;
}
.spinnercreate {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 25px;
  height: 40px;
}
@media screen and (max-width: 1000px) {
  .createParentDiv {
    width: 700px;
  }
  .createParentDiv .sideLogo {
    width: 175px;
    height: 175px;
  }
  .centerDiv {
    width: 65%;
  }
}
@media screen and (max-width: 800px) {
  .createParentDiv {
    width: 90%;
  }
  .createParentDiv .sideLogo {
    display: none;
  }
  .createParentDiv .centerDiv .topLogo {
    display: block;
    margin: auto;
  }
  .createParentDiv .centerDiv {
    margin: 20px;
    width: 100%;
  }
  .createParentDiv .loginHr {
    margin: 20px 0;
    height: 1px;
    background-color: #cdcdcd;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .centerDiv .uploadBtn {
    height: 36px;
    font-size: 16px;
  }
  .createParentDiv .centerDiv h1 {
    font-size: 36px;
  }
  .cancelUploadLink {
    font-size: 14px;
  }
  .createParentDiv .noImg {
    width: 100px;
    height: auto;
  }
  .createParentDiv .centerDiv {
    margin: 0;
  }
  .createParentDiv {
    padding: 40px 50px;
    width: 100%;
    margin: 0;
  }
  .fileInp {
    width: auto;
  }
}
@media screen and (max-width: 304px) {
  .centerDiv .categDrop select {
    margin-left: 0;
    margin-top: 15px;
  }
  .centerDiv .categDrop {
    display: flex;
    flex-direction: column;
  }
  .createParentDiv .centerDiv h1 {
    font-size: 32px;
  }
}
