@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.footerParentDiv {
  width: 100vw;
}
.footerParentDiv .content {
  display: flex;
  justify-content: space-around;

  background: #141414;

  padding: 50px;
}

.footerParentDiv .content .heading p {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.footerParentDiv .content .list ul {
  padding-inline-start: 0;
}
.footerParentDiv .content .list ul li {
  list-style: none;
  color: #cccccc;
  font-family: "Quicksand", sans-serif;
}
.footerParentDiv .content .heading {
  display: block;
}
@media screen and (max-width: 660px) {
  .footerParentDiv .content {
    padding: 50px 25px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 550px) {
  .footerParentDiv .content {
    flex-direction: column;
    /* margin-left: 40px; */
    text-align: center;
  }
  .footerParentDiv .content .heading p {
    margin-bottom: 5px;
  }

  .footerParentDiv .content .list ul {
    margin-bottom: 40px;
  }
}
