@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.bannerParentDiv .bannerChildDiv .menuBar {
  padding: 10px 16px;
  background-color: #252525;
  color: white;
  position: sticky;
  z-index: 998;
  top: 73px;
}

.bannerCategory {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.bannerCategory::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.bannerCategory:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
  margin-right: 16px;
  font-weight: bolder;
}

.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions .optionBar span {
  margin: 2px;
  padding-bottom: 2px;
  font-size: 14px;
}

.bannerChildDiv .banner {
  position: relative;
  margin-top: 8px;
  width: 100vw;
}
.bannerChildDiv .banner img {
  width: 100vw;
}

.otherQuickOptions .optionBar span {
  cursor: pointer;
}
.otherQuickOptions .optionBar {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}
.otherQuickOptions .dropdown {
  display: none;
}
/* --------------------MEDIA QUERIES-------------------- */
@media screen and (max-width: 1400px) {
  .otherQuickOptions .optionBar {
    justify-content: space-between;
    width: 80%;
  }
}
@media screen and (max-width: 870px) {
  .otherQuickOptions .optionBar {
    justify-content: space-between;
    width: 100%;
  }
  .bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions span {
    font-size: 12px;
  }
}
@media only screen and (max-width: 700px) {
  .bannerChildDiv .banner {
    position: relative;
  }
}
@media screen and (max-width: 660px) {
  .menuBar .otherQuickOptions .optionBar {
    display: none;
  }
  .menuBar .otherQuickOptions .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
  }
  .menuBar .otherQuickOptions .dropdown .categDropdown {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    width: min-content;
    /* border-bottom: 1px solid white; */
    cursor: pointer;
  }
}
@media screen and (max-width: 600px) {
  .bannerParentDiv .bannerChildDiv .menuBar {
    top: 62px;
  }
}
